<p id="notice"><%= notice %></p>

<h1><%= User.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:zipcode) %></th>
      <th><%= User.human_attribute_name(:address) %></th>
      <th><%= User.human_attribute_name(:description) %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.zipcode %></td>
        <td><%= user.address %></td>
        <td><%= user.description %></td>
        <td><%= link_to t('views.common.show'), '/' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
