<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? %>
      <p><%= t('.welcome', user: current_user.email) %></p>
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
    <% end %>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p><%= flash[:alert] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
